.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 9px 16px;
    min-width: 100px;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--white);
    border: 1px solid transparent;
    user-select: none;
    + .wrapper {
        margin-left: 8px;
    }
    // disabled
    &.disabled {
        background-color: var(--white-disabled);
        border: 1px solid var(--border-color-disabled);
        pointer-events: none;
        opacity: 0.5;
        &:hover {
            text-decoration: none;
        }
    }
}

.icon-left + .title,
.title + .icon-right {
    margin-left: 8px;
}
// Button types
.rounded {
    border-radius: 999px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-color: rgba(22, 24, 35, 0.12);
    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}
.primary {
    background-color: var(--primary);
    color: var(--white);
    border-color: var(--primary);
    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
        border-color: var(--primary);
    }
}
.outline {
    color: var(--primary);
    border-color: currentColor;
    &:hover {
        background: rgba(254, 44, 85, 0.06);
        border-color: currentColor;
    }
}
.text {
    border-color: rgba(22, 24, 35, 0.12);
    color: var(--text-color);
    &:hover {
        text-decoration: underline;
        background-color: rgba(22, 24, 35, 0.03);
        transition: all 0.2s ease-in-out;
    }
}

// button sizes

.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    min-width: 148px;
    padding: 14px 16px;
}
